{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="max-width: 500px">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Добро пожаловать</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group text-center py-4">
                <button class="btn btn-outline-success" type="submit">Регистрация</button>
            </div>
        </form>
    </div>
{% endblock %}
