{% extends "base.html" %}
{%  load static %}

{% block content %}
    <div class="container py-5">
          <h1>Товары:</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for good in goods %}
         <div class="col-md-2">
          <div class="card shadow">
            <h3>{{ good.name }}</h3>
            <p>{{ good.description }}</p>
            <img src="{{ good.image_link }}" class="rounded">
          </div>
         </div>
    {% endfor %}

    </div>
    </div>

    <div>
     <style>
        .b1 {
    background: gray;
    color: white;
    font-size: 14pt;
   }
    </style>
        <a href="{% url 'start' %}" class="b1">На главную</a>
    </div>

{% endblock %}
