{% extends "base.html" %}
{%  load static %}

{% block content %}
    <h4>
    <p>Цены на косметику в интернет магазинах меняются очень часто.</p>
    <p>Ты можешь выбрать интересующий тебя товар, который продается в магазине SKINFOOD,</p>
    <p>и увидеть как изменялась цена, а также узнать какой была минимальная цена на этот продуктю</p>
    </h4>
    <h3>
    <p>Жми сюда и переходи в магазин:<a href="https://skinfood.by" class="b1">SKINFOOD</a></p>
    </h3>
    <style>
        .p{
            font-size: 22px;
            color: black;
        }
        .fig {
            text-align: center;
        }
        .b1 {
    background: gray;
    color: white;
    font-size: 14pt;
   }
    </style>
    <p class="fig"><img width="30%" src="{% static "image/2.jpg" %}" alt="cosmetics"></p>
    <p class="p">Также ты може просмотреть товары на нашем сайте: <a href="{% url "main" %} " class="b1">Товары</a></p>
    <p class="p">Чтобы увидеть график изменения цены, тебе необходимо зарегистрироваться или войти!</p>
    <form method="get" action="{% url 'goods_price' name="name" %}">
        {% csrf_token %}
        <label for="name" class="p">Скоприуй и вставь название товара в это поле:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Показать" class="b1" >
     </form>
{% endblock %}
